ErrorDocument 404 https://pastelinspire.com/404

DirectoryIndex index.html

RewriteEngine on

RewriteRule ^index\.html$ [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]