ErrorDocument 404 https://pastelinspire.com/404

DirectoryIndex index.html

RewriteEngine on

RewriteRule ^index\.html$ [R=301,L]

RewriteCond %{THE_REQUEST} \.html
RewriteRule ^(.*)\.html$ /$1 [R=301,L]